*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 50vh;
    width: 20% 20%;
    padding: 20% 20%;
    background-image: url(img1.jpg.jpg);
    background-position: center;
    position: relative;
}